.twe {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.twe-lg {
    height: 1.33em;
    width: 1.33em;
    margin: 0 0.0665em 0 0.133em;
    vertical-align: -0.133em;
    background-size: 1.33em 1.33em;
}

.twe-2x {
    height: 2em;
    width: 2em;
    margin: 0 0.1em 0 0.2em;
    vertical-align: -0.2em;
    background-size: 2em 2em;
}

.twe-3x {
    height: 3em;
    width: 3em;
    margin: 0 0.15em 0 0.3em;
    vertical-align: -0.3em;
    background-size: 3em 3em;
}

.twe-4x {
    height: 4em;
    width: 4em;
    margin: 0 0.2em 0 0.4em;
    vertical-align: -0.4em;
    background-size: 4em 4em;
}

.twe-5x {
    height: 5em;
    width: 5em;
    margin: 0 0.25em 0 0.5em;
    vertical-align: -0.5em;
    background-size: 5em 5em;
}

.twe--red-heart {
    background-image: url("https://twemoji.maxcdn.com/2/svg/2764.svg");
}

.twe--backhand-index-pointing-down {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f447.svg");
}

.twe--backhand-index-pointing-right {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f449.svg");
}