<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Twemoji CSS Generator</title>
    <!-- CSS -->
    <link href="/main.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Code+Pro&display=swap"
        rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script type="text/javascript" src="https://polyfill.io/v3/polyfill.js?features=IntersectionObserver"></script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="toast-container" class="toast-container"></div>
    <div class="page">
        {{{body}}}
    </div>

    <script src="/app.bundle.js"></script>
</body>

</html>