<div class="sidebar">
    <h1>Twemoji CSS Generator <i class="twe twe--red-heart"></i></h1>
    <p>
        This is a simple <a href="https://twemoji.twitter.com/content/twemoji-twitter/en.html"
            target="_blank">Twemoji</a> stylesheet generator.
    </p>
    <p>
        It's like <a href="https://fontawesome.com">Font Awesome</a> but for Twitter Emoji.
    </p>
    <p>
        Inspired by <a href="https://ellekasai.github.io/twemoji-awesome/" target="_blank">Twemoji Awesome</a> by Elle Kasai.
    </p>
    <hr>
    <div class="search">
        <input type="text" id="search_categories" placeholder="Filter" autocomplete="off" />
        <svg class="search-icon" viewBox="23 228.9 384 384">
            <path
                d="M303.5,462.9c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C91.1,228.9,23,297.1,23,381.2  s68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8l108.6,108.6l33.7-34.3L298.5,470L303.5,462.9z M260.4,296.1  c22.7,22.7,35.2,52.9,35.2,85s-12.5,62.3-35.2,85s-52.9,35.2-85,35.2s-62.3-12.5-85-35.2s-35.2-52.9-35.2-85s12.5-62.3,35.2-85  c22.7-22.7,52.9-35.2,85-35.2S237.7,273.4,260.4,296.1z">
            </path>
        </svg>
    </div>
    <hr>
    {{#each groups as |subgroups group_name|}}
    <div class="hyperlink__section">
        <a class="hyperlink" href="#{{group_name}}">{{titleCase group_name}}</a>
        {{#each subgroups as |emojis subgroup_name|}}
        <a class="hyperlink hyperlink--small" href="#{{subgroup_name}}">{{titleCase subgroup_name}}</a>
        {{/each}}
    </div>
    {{/each}}
    <div class="empty-state" id="empty_categories">
        No results
    </div>
    <hr>
    <p>
        This list was generated from the official <a
            href="https://unicode.org/emoji/charts/full-emoji-list.html">Unicode Emoji v13.0 list</a>.
    </p>
    <p>
        <b>Last updated:</b> September 8th, 2020
    </p>
    <hr>
    <p>
        Made with <i class="twe twe--red-heart"></i> by <a href="https://twitter.com/csmcharles"
            target="_blank">@csmcharles</a>
    </p>
</div>
<div class="sidebar__spacer"></div>
<div class="content">
    <div class="emoji-table-container">
        <div class="emoji-table-bar">
            <div class="row bar" id="bar">
                <div class="column-code">Code</div>
                <div class="column-description-spaced">
                    <div class="column-left">
                        Description
                    </div>
                    <div class="column-right">
                        <div class="search">
                            <input type="text" id="search_description" placeholder="Filter" autocomplete="off" />
                            <svg class="search-icon" viewBox="23 228.9 384 384">
                                <path
                                    d="M303.5,462.9c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C91.1,228.9,23,297.1,23,381.2  s68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8l108.6,108.6l33.7-34.3L298.5,470L303.5,462.9z M260.4,296.1  c22.7,22.7,35.2,52.9,35.2,85s-12.5,62.3-35.2,85s-52.9,35.2-85,35.2s-62.3-12.5-85-35.2s-35.2-52.9-35.2-85s12.5-62.3,35.2-85  c22.7-22.7,52.9-35.2,85-35.2S237.7,273.4,260.4,296.1z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="column-square">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="50 50 300 300">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                }

                                .cls-2 {
                                    fill: #1da1f2;
                                }
                            </style>
                        </defs>
                        <title>Twitter_Logo_Blue</title>
                        <rect class="cls-1" width="400" height="400" />
                        <path class="cls-2"
                            d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" />
                    </svg>
                </div>
                <div class="checkbox column-square"><input type="checkbox" id="select_all" autocomplete="off" /></div>
            </div>
        </div>
    </div>
    <div class="emoji-table" border="0" cellspacing="0" cellpadding="0">
        {{#each groups as |subgroups group_name|}}
        <div class="group">
            <div class="row header">
                <label class="accordion column-code"
                    for="{{group_name}}">{{titleCase (lookup ../name_mapper group_name)}}
                    <input type="checkbox" class="accordion-check hidden" id="{{group_name}}" autocomplete="off"
                        data-selector="group" />
                    <i class="caret">

                    </i></label>
                <div class="checkbox column-square"><input type="checkbox" value="{{group_name}}" data-type="group"
                        autocomplete="off" /></div>
            </div>
            {{#each subgroups as |emojis subgroup_name|}}
            <div class="subgroup">
                <div class="row subheader" data-group="{{group_name}}">
                    <label class="accordion column-code"
                        for="{{subgroup_name}}">{{titleCase (lookup ../../name_mapper subgroup_name)}}<input
                            type="checkbox" class="accordion-check hidden" id="{{subgroup_name}}" autocomplete="off"
                            data-selector="subgroup" />
                        <i class="caret">
                        </i></label>
                    <div class="checkbox column-square"><input type="checkbox" value="{{subgroup_name}}"
                            data-type="subgroup" autocomplete="off" />
                    </div>
                </div>
                {{#each emojis}}
                <div class="row{{#if (even @index)}} odd{{/if}}" data-group="{{group_name}}"
                    data-subgroup="{{subgroup_name}}">
                    <div class="column-code code"><span>{{this.code}}</span></div>
                    <div class="column-description">
                        <span class="copy" data-emoji-class="{{this.className}}" data-emoji-url="{{this.twemoji}}">
                        </span>
                        <span class="description">
                            {{this.description}}
                        </span>
                    </div>
                    <div class="column-square">
                        {{#if this.twemoji}}
                        <label class="emoji lozad" data-background-image="{{this.twemoji}}"
                            for={{this.className}}></label>
                        {{else}}
                        <span class="no-emoji">n/a</span>
                        {{/if}}
                    </div>
                    <div class="checkbox column-square">{{#if this.twemoji}}<input class="emoji-check" type="checkbox"
                            id="{{this.className}}" data-type="emoji" data-emoji-url="{{this.twemoji}}"
                            data-emoji-class="{{this.className}}" autocomplete="off" data-group="{{group_name}}"
                            data-subgroup="{{subgroup_name}}" />{{else}}<div class=" checkbox-empty">
                        </div>{{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div class="empty-state" id="empty_list">
        No results
    </div>
</div>
<div class="button" id="download">Download CSS <i class="twe twe--backhand-index-pointing-down"></i></div>