.button {
    position: fixed;
    left: calc(50% + 175px);
    transform: translateX(-50%) translateY(0);
    bottom: 24px;
    margin: auto;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    background-color: $c-pop;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color, transform;
    transition-duration: 0.15s;
}

.button:hover {
    cursor: pointer;
    transform: translateX(-50%) translateY(-2px);
    background-color: $c-pop--hover;
}

.button:active {
    transition-duration: 0.06s;
    transform: translateX(-50%) translateY(1px);
}