* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
}

a {
    color: $c-link-blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: $c-link-blue;
}

hr {
    border: none;
    border-bottom: 1px solid $c-bley;
    margin: 20px 0;
}

div.hidden {
    display: none !important;
}

@keyframes toast-display {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0%);
    }
    90% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.toast-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    .toast {
        background-color: $c-pop;
        box-shadow: 0px 5px 8px rgba($c-pop, 0.25);
        width: auto;
        max-width: 800px;
        border-radius: 8px;
        animation: toast-display 3s forwards;
        margin: auto;
        margin-top: 16px;
        padding: 12px;
        text-align: center;
        position: relative;
        text-align: center;
        z-index: 1000;
        font-weight: bold;
        color: white;
    }
}

.page {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 40px 40px 120px;
    max-width: 1300px;
    margin: auto;
}

.sidebar {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    padding: 20px 40px;

    &, &__spacer{
        width: 350px;
    }

    &__spacer {
        height: 100%;
    }
}

.hyperlink {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 -40px;
    padding: 0 40px;

    .active {
        background-color: $c-bley--light;
    }

    &--small {
        font-size: 16px;
        font-weight: 400;
    }
}

.hyperlink__section {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 40px;
    }
}

.empty-state {
    background-color: $c-bley--light;
    font-size: 18px;
    font-weight: 700;
    color: $c-bley;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    display: none;

    &.active {
        display: block;
    }
}

.footer {
    padding-bottom: 20px;
    text-align: center;
}