.emoji-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 16px;

    & .row {
        flex: 1;
    }
}

th {
    text-align: left;
    padding: 8px 6px;
}

td {
    height: 40px;
    padding: 4px;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin: 0;
}

.accordion {
    cursor: pointer;
}

.accordion-check.hidden {
    margin-top: -59px;
}

.accordion-check:checked+.caret {
    transform: scaleY(1);
}

.caret {
    display: inline-block;
    height: 0.8em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    padding: 0 2px;
    background: center / contain no-repeat url(../src/icons/caret.svg);
    transform: scaleY(-1);
}

input[type="checkbox"].hidden {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.row {
    color: black;
    display: flex;
    align-items: center;
    height: 40px;
}

.row.odd {
    background-color: $c-bley--light;
}

.row>* {
    padding: 8px 12px;
}

.column-square {
    flex: 0 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-description {
    flex: 3;
}

.column-description-spaced {
    flex: 3;
    display: flex;
    align-items: center;

    .column-left {
        align-content: flex-start;
    }

    .column-right {
        padding-left: 24px;
        flex-grow: 1;
    }
}

.column-code {
    flex: 2;
}

.emoji-table-bar {
    position: relative;
}

.row.bar {
    width: 100%;
    border-bottom: 1px solid $c-bley;
    background-color: #ffffff;
    height: 52px;
}

.row.bar.sticky {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
    z-index: 10;
}

.row.header {
    background-color: $c-theme;
    border-bottom: 1px solid #0080ce;
    color: white;
    font-size: 22px;
    height: 50px;
}

.row.subheader {
    background-color: $c-theme--light;
    border-bottom: 1px solid $c-theme;
    color: white;
    font-size: 16px;
}

.code span,
.code-hover {
    background-color: #fff;
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid $c-bley;
    font-family: 'Source Code Pro', monospace;
    white-space: nowrap;
}

.code-hover {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    z-index: 5;
    transform: translateY(-4px);
}

.copy {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0 .1em;
    vertical-align: -0.12em;
    position: relative;
    background: center / contain no-repeat url(../src/icons/copy.svg);

    &:hover {
        cursor: pointer;
    }

    &>svg {
        pointer-events: none;
        width: 100%;
        height: 100%;
    }
}

.description {
    position: relative;
}

.emoji {
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px;
    width: 32px;
    display: block;
    position: relative;
}

.emoji-preview {
    width: 256px;
    height: 256px;
    opacity: 0;
    position: absolute;
    z-index: 5;
    pointer-events: none;
    transform: translateX(calc(-100% - 16px)) translateY(-10%);
    transition: opacity 0.15s, transform 0.15s;

    &.active {
        opacity: 1;
        transform: translateX(calc(-100% - 16px)) translateY(0);
    }
}

.emoji:hover {
    cursor: pointer;
}

.no-emoji {
    color: $c-bley;
    border-radius: 54px;
    font-size: 10px;
    height: 26px;
    line-height: 26px;
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    margin: 3px;
}

.checkbox-empty {
    width: 14px;
    height: 14px;
    display: block;
}

input {
    font-family: 'Noto Sans', sans-serif;
}

.search {
    display: block;
    position: relative;

    input {
        margin: auto;
        display: inline-block;
        width: 100%;
        height: 32px;
        padding: 4px 8px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        font-size: 14px;
        border-color: $c-bley;
        outline: none;

        transition-duration: 0.15s;
        transition-property: border, box-shadow;

        &+.search-icon {
            transition: fill 0.15s;
        }

        &:hover {
            border-color: $c-bley;
        }

        &:active,
        &:focus {
            border-color: $c-pop;
            box-shadow: 0px 0px 5px rgba($c-pop, 0.25);

            &+.search-icon {
                fill: $c-pop;
            }
        }
    }

    .search-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        fill: $c-bley;
        height: 100%;
        padding: 8px;
    }
}